language: node_js
node_js:
  - node
branches:
  only: master
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  local_dir: ${TRAVIS_BUILD_DIR}/dist
  on:
    branch: master
