language: node_js
node_js:
  - node
branches:
  only: source
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  local_dir: dist
  target_branch: master
  on:
    branch: source
