:root {
	--github-green: #28a745;
	--github-purple: #6f42c1;
	--github-red: #cb2431;
	--github-blue: #0366d6;
	--github-gray: #6a737d;
	font-size: 5vmin;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	text-align: center;
	line-height: 1.5;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	overflow-wrap: break-word;
}
footer {
	font-size: 16px;
}
h1, pre, p {
	margin-top: 0;
	margin-bottom: 0.5rem;
}
p {
	max-width: 35em;
	margin-left: auto;
	margin-right: auto;
}
.status:empty {
	display: none;
}
.status strong:before {
	content: url(logo.svg) "\A";
	white-space: pre;
}
input {
	font: inherit;
	text-align: center;
}
h1 {
	font-size: 1.5em;
}
a,
label {
	color: var(--github-blue);
	text-decoration: none;
	cursor: pointer;
}
a:hover,
label:hover {
	text-decoration: underline;
}
[type="checkbox"] {
	visibility: hidden;
	position: absolute;
}
[type="checkbox"]:checked + * + *,
[type="checkbox"]:not(:checked) + * {
	display: none;
}
#token:valid {
	color: var(--github-green);
	border: 1px solid;
}
#token:invalid {
	color: var(--github-red);
	border: 1px solid;
}
[name="url"] {
	font-size: 0.6em;
}
.info {
	margin-top: 0.5rem;
}
